@charset "UTF-8";

@media print {
    body {
        font-family: 'Courier New', Courier, monospace;
        font-size: 0.8em;
    }

    main {
        text-shadow: none;
        box-shadow: none;
        color: black;
        width: 90vw;
        border: 2px solid black;
    }
    main h1 {
        text-shadow: none;
    }
}

@media screen and (min-width: 768px) {

    header > span#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul {
        text-align: center;
    }

    menu > ul > li {
        display: inline-block;
    }

    main > article {
        width: 60vw;
    }
}   