@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: lightgrey;
}

/* HEADER */
header {
    background-color: black;
    color: white;
}

header > h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

header > span#burguer {
    background-color: rgb(121, 121, 216);
    display: block;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

header >span#burguer:hover {
    background-color: rgb(121, 121, 216);
    color: black;
}


/* MENU */
menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: black;
    border-top: 2px solid rgb(121, 121, 216);
    padding: 10px;

}

a:hover {
    text-decoration: underline;
    background-color: rgb(121, 121, 216);
}


/* ARTICLE */
main > article {
    margin: auto;
    background-color: rgb(121, 121, 216);
    width: 70vw;
    padding: 20px;
    margin-top: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.459);
}

main > article h1 {
    padding-bottom: 10px;
}

main > article p {
    text-align: justify;
    text-indent: 1.5em;
    line-height: 1.5em;
}

